<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <!-- important to load jquery before bootstrap js -->
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Edit listing</title>
</head>

<body>
    <h3> Edit <%= listing.lister %>'s Listing </h3>
    <!-- POST request with a method override to make it a PATCH -->
    <!-- patches "/comments/{commentID}" to replace the 'comment' value of that item-->
    <div class="container-fluid">
        <form method="post" action="/listings/<%=listing.id%>?_method=PATCH">
            <div class="row mb-3">
                <div class="col">
                    <label for="title">Title: </label> <br>
                    <textarea name="title" id="" cols="40" rows="2">
                        <%= listing.title %>
                    </textarea>
                </div>
                <div class="col">
                    <label for="img">Image URL: </label> <br>
                    <textarea name="img" id="" cols="40" rows="2">
                        <%=listing.img %>
                    </textarea>
                </div>
            </div>
            <div class="row mb-3">
                <label for="title">Description: </label> <br>
                <textarea name="description" id="" cols=" 30" rows="10">
                    <%= listing.description %>
                </textarea>
            </div>
            <button>Update listing</button>
        </form>
    </div>
</body>

</html>