<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Listings</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <!-- important to load jquery before bootstrap js -->
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

    <h1 class="px-5">All Listings</h1>
    <ul>
        <div class="container-fluid">
            <% for(let l of listings) { %>
                <div class="container-fluid m-3 mb-5">
                    <li>
                        <h2>
                            <a href="listings/<%=l.id%>">
                                <%= l.title %>
                            </a>
                        </h2>
                        <br>
                        <img class="img-fluid" width="50%" src="<%= l.img %> " alt="">
                        <br>
                        Listed by <%= l.lister %> (<%= l.rating %>/5 rating)
                    </li>
                </div>
                <% } %>
        </div>
    </ul>

</body>

</html>